/*** UTILITIES ***/

/* buttons */
button {
    padding: 0;
    border: 0;
    font-family: 'gg sans';
    margin: 0;
    border-radius: 1.5em;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

button.smallButton { padding: 0.6em 1em; }

button.largeButton {
    padding: 0.8em 1.5em;
    font-size: large;
}

button.white {
    background-color: white;
    color: black;
}

button.black {
    background-color: #23272A;
    color: white;
}

button.purple {
    background-color: #5865F2;
    color: white;
}

button:hover { box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); } 
button.white:hover { color: #5865F2; fill: #5865F2; }
button.black:hover { background-color: #313338; }
button.purple:hover { background-color: #7983F5; }
img:hover { color: #5865F2; }

.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 75%;
    padding: 25px 0;
}

/* wave */
.wave {
    width: 100%;
    height: 110px;
    background-image: url(../img/assets/wave.svg);
}
.wave.upsidedown { transform: rotate(180deg); }

/*** ICONS ***/
#arrow {
    width: 8px;
    padding-top: 4px;
    margin-right: 8px;
}

/*** STRUCTURE ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'gg sans', sans-serif;
}

header {
    background-color: #255EE9;
    padding: 16px 0 0 0;
    
}

h1 {
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 3.2em;
    padding: 40px 0;
}

h2 {
    font-weight: 900;
    font-size: 3em;
    line-height: 1em;
    padding: 30px 0;
}

.center { text-align: center; }

p {
    font-weight: 400;
}

.container {
    display: flex;
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* background-color: #DAA520; */
}

.logo {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 25%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 8px 0;
}

.link > div > a {
    color: white;
    text-decoration: none;
    max-width: 64px;
}

.link > div > a:hover {
    text-decoration: underline;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 8px;
    width: 25%;
}


.logo, .link, .login {
    /* border: 2px dashed black; */
}

.link > div {
    margin: 0 12px;
}

.imgheader {
    display: flex;
    justify-content: center;
    /* background-color: #3161E0; */
    padding: 50px 3%;
    background-image: url(../img/assets/jumbo.png);
    background-size: 1330px;
    background-position: 50% 15px;
    background-repeat: no-repeat;
}

.imgheader > div {
    /* border: 2px dashed black; */
    height: 400px;
    width: 100%;
    max-width: 45em;
}

.imgheader > div > p {
    color: white;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5%;
}

.img-container.grey {
    flex-direction: row-reverse;
}



.white {
    background-color: white;
}

.grey {
    background-color: #F6F6F6;
}

.img-container .text {
    /* background-color: #FFC0CB; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 35%;
    max-width: 30em;
    overflow: auto;
}

.img-container .img {
    /* background-color: #1E90FF; */
    display: flex;
    /* justify-content: flex-start; */
    width: 65%;
    max-width: 50em;
}

.img-container.big {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
    max-width: 1100em;
}

.img-container.big img {
    width: 80em;
    max-width: 100%;
}

.img-container.big p {
    /* margin: 0 5%; */
    max-width: 60em;
}

.img-container.big p, .img-container.big h2 {
    text-align: center;
}

.img-container.white .img { 
    justify-content: flex-start;
}

.img-container.grey .img { 
    justify-content: flex-end;
}

.img-container .img img {
    max-width: 100%;
}

.img-container .img, .img-container .text {
    /* border: 2px dashed black; */
    margin: 50px 0;
    height: 400px;
}

.img-container .img.green {
    /* background-color: #228B22; */
    width: 100%;
    max-width: 60em;
    height: 600px;
}

footer {
    background-color: #23272A;
}

.info {
    padding: 8px 0 24px 0;
    display: flex;
    justify-content: center;
}

.social {
    background-color: #F08080;
    border: 2px dashed black;
    height: 400px;
    width: 100%;
    max-width: 16em;
}

.other {
    background-color: #20B2AA;
    border: 2px dashed white;
    height: 400px;
    width: 100%;
    max-width: 11em;
}

.signin {
    display: flex;
    justify-content: center;
}

.signin > div {
    margin-top: 16px;
    background-color: #7FFFD4;
    display: flex;
    width: 100%;
    max-width: 60em;
    justify-content: space-between;
}

.bottom-logo, .button {
    border: 2px dashed black;
    background-color: #FFB6C1;
    margin: 12px 0;
}
